* {
  margin: 0;
}

.footer-container {
  background-color: rgb(41, 38, 38);
  display: grid;
  width: 100%;
}

.footer-list {
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.footer-list-title,
.footer-list-option1 {
  color: aliceblue;
  cursor: default;
}

.footer-list-option {
  color: rgb(141, 138, 138);
}

.footer-list-option:hover {
  color: aliceblue;
  cursor: pointer;
}

.footer-media {
  display: flex;
}
.footer-media > * {
  margin-left: 5px;
}
