* {
  margin: 0;
}

.NavBar-container {
  position: relative;
  width: 100%;
}

.NavBar {
  margin-right: 10%;
  margin-left: 7.5%;
  display: flex;

  justify-content: space-around;
  align-items: center;
  height: 100px;
}
.NavBar-links {
  display: flex;
  align-items: center;
}

.NavBar-links > * {
  padding: 12px;

  margin-right: 20px;
  font-size: 15px;
}

.NavBar-link-adminDash,
.NavBar-link-home {
  color: #cc0000;
}

.NavBar-link-adminDash:hover,
.NavBar-link-home:hover {
  color: black;
}

.NavBar-link-login button {
  background-color: #cc0000;
  border-radius: 10px;
  color: #eeeeee;
  text-align: center;
  font-size: 12px;
  width: 60px;
  height: 40px;
  border: none;

  cursor: pointer;
}
.NavBar-link-login button:hover {
  background-color: white;
  border: 2px solid;
  color: black;

  cursor: pointer;
}
.NavBar-link-login button {
  transition-duration: 0.5s;
}

.NavBar-logo {
  max-height: inherit;
  box-sizing: border-box;
  height: 100%;
  flex: 1;
}
.NavBar-logo-img {
  margin-left: 0px;
  width: 180px;
  height: 65px;
  margin-top: 17px;
  object-fit: fill;
}

.NavBar-link-BasketIcon {
  color: #cc0000;
}

.NavBar-link-BasketIcon-notLogedIn {
  color: #cc0000;
}

.NavBar-link-BasketIcon-notLogedIn:hover {
  cursor: pointer;
  color: black;
}

.sandwish-menu-link-menuIcon {
  position: absolute;
  top: 30px;
  right: 5%;
  color: #cc0000;
}

.sandwish-menu-link-menuIcon:hover {
  cursor: pointer;
}

.sandwisch-menu-links {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.sandwisch-menu-links > * {
  color: #cc0000;
  font-size: 15px;
  padding-top: 20px 0;
  text-align: center;
  width: 100%;

  margin-top: 10px;
  margin-bottom: 10px;
}

.sandwisch-menu-links > *:hover,
.sandwisch-menu-link-BasketIcon :hover {
  color: whitesmoke;
  background-color: #cc0000;
}
.sandwisch-menu-link-login-true:hover {
  text-decoration-color: whitesmoke;
  cursor: default;
  background-color: #cc0000;
}

.sandwisch-menu-link-login-true {
  color: #cc0000;
  text-decoration: none;
  background-color: white;
  border: none;
}
.sandwisch-menu {
  display: none;
}

@media screen and (max-width: 600px) {
  .sandwisch-menu {
    display: inherit;
  }
  .NavBar-links {
    display: none;
  }
}
